<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lamb.key.mapper.ItemsSpecMapper">
    <!-- 乐观锁，避免相应规格的库存为负数 -->
    <update id="decreaseItemSpecStock">
        update
                items_spec
        set
                stock = stock - #{pendingCounts}
        where
                id = #{specId}
        and
                stock >= #{pendingCounts}
    </update>
</mapper>
